<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TR5KTXN');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2LKZKC7QDX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2LKZKC7QDX');
</script>

<meta charset="utf-8">
<title>{{with .Title}}{{.}}{{else}}{{site.Title}}{{end}}</title>

<meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">

<!-- multilingual SEO optimizations -->
{{ if .IsTranslated }}
{{ range .Page.AllTranslations }}
<link rel="alternate" title="{{.Title}}" hreflang="{{.Lang}}" href="{{.RelPermalink}}">
{{ end }}
{{ end }}

{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}
<!-- open graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Site.Title }}"/>
<meta property="og:description" content="{{ .Site.Params.description }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:url" content="{{ .Site.Params.url }}"/>
<meta property="og:locale" content="en">
<!--{{ template "_internal/opengraph.html" . }}-->
{{ template "_internal/google_analytics_async.html" . }}
{{ site.Params.custom_script | safeHTML }}
